<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Blinx</title>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="https://unpkg.com/@reactivex/rxjs@5.0.0-beta.7/dist/global/Rx.umd.js"></script>
</head>

<body>
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                    <a href="/home" class="text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">home</a>
                </div>
              </div>
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                  <a href="/overview" class="text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Dashboard</a>
                </div>
              </div>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end">
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                  <a href="/logout" class="text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    @!section('content')
</body>
</html>
