@layout('layout')

@section('content')

<div class="my-10">
    <div id="pie-chart-container"></div>
</div>
<center class="w-3/4 my-10 m-auto">
    <div id="line-chart-container"></div>
</center>


{{ script('overview') }}
@endsection